html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Peace Sans;
    src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../../Font/SCP_Font.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
    font-family: Din_next;
    src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}

.add_post_background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #434343;
    opacity: 0.5;
    z-index: 1;
}

.add_post_conteiner_center {
    position: relative;
    width: 62.5rem;
    margin: auto;
    background-color: #0E091D;
    z-index: 2;
}

.add_post_conteiner {
    position: absolute;
    width: 100%;
    min-height: 25rem;
    margin-top: 3.125rem;
    background-color: #0E091D;
    border-radius: 1.25rem;
}

.add_post_avatar_img {
    position: absolute;
    height: 4.875rem;
    margin-left: 1.5625rem;
    margin-top: 5.9375rem;
    border-radius: 50%;
}

.add_post_textarea {
    width: 52.5rem;
    margin-left: 7.8125rem;
    margin-top: 6.25rem;
    margin-bottom: 2.5rem;
    min-height: 7.5rem;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #0E091D;
    resize: none;
    border: none;
    outline: none;
    font-family: Din_next;
}

/* width */
.add_post_textarea::-webkit-scrollbar {
    width: 0.9375rem;
}

/* Track */
.add_post_textarea::-webkit-scrollbar-track {
    background: #0E091D;
}

/* Handle */
.add_post_textarea::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background: #241A43;
}

/* Handle on hover */
.add_post_textarea::-webkit-scrollbar-thumb:hover {
    background: #4D1E96;
}

#add_post_preview_container {
    margin-left: 1.5625rem;
    margin-right: 2.1875rem;
    margin-top: 0.625rem;
    display: flex;
    gap: 0.625rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 0.625rem;
}

/* width */
#add_post_preview_container::-webkit-scrollbar {
    width: 0.9375rem;
}

/* Track */
#add_post_preview_container::-webkit-scrollbar-track {
    background: #0E091D;
}

/* Handle */
#add_post_preview_container::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background: #241A43;
}

/* Handle on hover */
#add_post_preview_container::-webkit-scrollbar-thumb:hover {
    background: #4D1E96;
}

.add_post_reply_access {
    width: 100%;
    height: 2.1875rem;
    margin-bottom: 6.25rem;
}

.add_post_reply_access span {
    cursor: pointer;
    color: #0A7AFB;
    font-family: Din_next;
    font-size: 1.25rem;
    margin-left: 1.5625rem;
}

.add_post_footer {
    position: absolute;
    display: flex;
    width: 58.75rem;
    height: 5rem;
    margin-left: 1.5625rem;
    bottom: 0;
    border-top: 0.09375rem solid rgba(255, 255, 255, 0.5);
}

.add_post_footer img {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
}

.upload_post {
    cursor: pointer;
    margin: auto;
    margin-left: 45.625rem;
    width: 6.875rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    text-align: center;
}

.upload_post span {
    font-family: Helvetica;
    font-size: 1.1875rem;
    color: #0E091D;
}