html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

@font-face {
    font-family: Peace Sans;
    src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../../Font/SCP_Font.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
    font-family: Din_next;
    src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}

.comment_block {
    margin-top: 23.4375rem;
    border: 0.125rem solid #FFFFFF;
    border-bottom: 0;
    background-color: #0E091D;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 0.0625rem;
    padding-top: 2.5rem;
}

#closeIframeBtn {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

#closeIframeBtn img {
    height: 2rem;
    margin-top: 0.9rem;
}

#closeIframeBtn span {
    font-family: din_next;
    font-size: 2rem;
    color: #FFFFFF;
    margin-left: 0.625rem;
}

.user_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    margin-bottom: 0.9375rem;
}

.avatar_img {
    height: 3.75rem;
    border-radius: 50%;
    border: 0.09375rem solid #FFFFFF;
}

.user-name-display h1 {
    font-family: Din_next;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: auto;
    margin-left: 1.25rem;
}

.user-name-display h2 {
    margin-top: auto;
    margin-left: 1.25rem;
    font-family: Din_next;
    font-size: 0.8125rem;
    color: #FFFFFF;
    opacity: 50%;
}

.union_img {
    position: absolute;
    height: 0.375rem;
    right: 0;
    top: 0;
    margin-right: 2.6875rem;
    margin-top: 26.125rem;
}

.post_text_invisible {
    position: absolute;
    opacity: 0;
}

.post_text {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    min-height: 3.125rem;
    font-size: 1.125rem;
    color: #FFFFFF;
    font-family: Din_next;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.read-more {
    cursor: pointer;
    display: inline-block;
    margin-top: 0.3125rem;
    color: #FFFFFF;
    opacity: 0.5;
    font-family: Din_next;
    font-size: 1.125rem;
}

.content_image {
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
    width: 100%;
    border-radius: 1.25rem;
    border: 0.09375rem solid rgba(255, 255, 255, 0.35);
}

.upload_data {
    display: inline-block;
    margin-top: auto;
    font-family: Din_next;
    font-size: 1.125rem;
    color: #FFFFFF;
    opacity: 50%;
}

.dot {
    display: inline-block;
    margin-top: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3125rem;
    height: 0.25rem;
    width: 0.25rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    opacity: 50%;
}

.post_stat {
    display: flex;
    width: 100%;
    margin-top: 1.875rem;
    padding-bottom: 0.625rem;
    border-top: rgba(255, 255, 255, 0.35) 0.0625rem solid;
    border-bottom: rgba(255, 255, 255, 0.35) 0.0625rem solid;
}

.stat {
    display: flex;
    margin: auto;
    opacity: 0.5;
}

.stat:hover {
    opacity: 1;
}

.stat img {
    height: 1.5rem;
    margin-top: 0.6875rem;
    margin-right: 0.625rem;
}

.stat span {
    font-family: Din_next;
    font-size: 1.6875rem;
    color: #FFFFFF;
}

#comment_stat {
    margin-left: 0;
}

#share_stat {
    margin-right: 0;
    margin-left: 1.125rem;
}

.liked {
    opacity: 1;
}

.liked:hover {
    opacity: 0.5;
}

.add_comment {
    width: 100%;
    height: 7.5rem;
    margin-top: 1.875rem;
    margin-bottom: 6.25rem;
}

.add_comment_div_textare {
    display: flex;
}

#login_user_avatar {
    margin-top: 0.625rem;
}

.add_comment_textarea {
    width: 100%;
    min-height: 7.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #0E091D;
    resize: none;
    border: none;
    outline: none;
    font-family: Din_next;
}

/* width */
.add_comment_textarea::-webkit-scrollbar {
    width: 0.9375rem;
}

/* Track */
.add_comment_textarea::-webkit-scrollbar-track {
    background: #0E091D;
}

/* Handle */
.add_comment_textarea::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background: #241A43;
}

/* Handle on hover */
.add_comment_textarea::-webkit-scrollbar-thumb:hover {
    background: #4D1E96;
    cursor: pointer;
}

.add_comment_reply_access {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.add_comment_reply_access img {
    cursor: pointer;
}

.add_comment_btn {
    cursor: pointer;
    width: 10.625rem;
    height: 1.5rem;
    margin: auto;
    margin-right: 0;
    margin-top: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    text-align: center;
    font-family: Helvetica;
    font-size: 1rem;
    color: #0E091D;
    opacity: 0.5;
}

.add_comment_btn.active {
    opacity: 1;
}

#add_comment_image {
    margin-right: 1.25rem;
    margin-left: 5rem;
}

.add_comment_preview_container {
    margin-left: 5rem;
}

/* COMMENT FEED */
.comment_feed {
    width: 48%;
    min-height: 93.75rem;
}

.comment_feed_block {
    width: calc(100% - 9.95rem);
    min-width: 31.25rem;
    border-left: 0.125rem solid #FFFFFF;
    border-right: 0.125rem solid #FFFFFF;
    border-top: rgba(255, 255, 255, 0.35) 0.125rem solid;
    border-bottom: 0;
    background-color: #0E091D;
    padding-left: 7.1875rem;
    padding-right: 2.5rem;
    padding-bottom: 3.75rem;
    padding-top: 2.5rem;
}

.comment_feed_block.hidden {
    display: none;
}

.comment_feed_user_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    margin-bottom: 0.9375rem;
}

.comment_feed_user_info h1 {
    font-family: Din_next;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: auto;
}

.comment_feed_user_info h2 {
    margin-top: auto;
    margin-left: 0.9375rem;
    font-family: Din_next;
    font-size: 0.8125rem;
    color: #FFFFFF;
    opacity: 50%;
}

.comment_feed_user_info h3 {
    margin-top: auto;
    font-family: Din_next;
    font-size: 0.8125rem;
    color: #FFFFFF;
    opacity: 50%;
}

.comment_feed_union {
    height: 0.375rem;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0.625rem;
}

.comment_feed_avatar_img {
    position: absolute;
    height: 3.75rem;
    border-radius: 50%;
    border: 0.09375rem solid #FFFFFF;
    transform: translateX(-4.5625rem);
}

.comment_feed_dot {
    margin-top: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3125rem;
    height: 0.25rem;
    width: 0.25rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    opacity: 50%;
}

.comment_feed_text {
    width: 100%;
    margin-bottom: 1.875rem;
    min-height: 3.125rem;
    font-size: 1.125rem;
    color: #FFFFFF;
    font-family: Din_next;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comment_feed_content_image {
    margin-top: 0.625rem;
    width: 100%;
    border-radius: 1.25rem;
    border: 0.09375rem solid rgba(255, 255, 255, 0.35);
}

.comment_feed_post_stat {
    display: flex;
    width: 100%;
    height: 2.5rem;
}

.comment_feed_stat {
    display: flex;
    margin: auto;
    margin-top: 2.5rem;
    transform: translateX(-1.25rem);
}

.comment_stat {
    opacity: 0.5;
}

.comment_stat:hover {
    opacity: 1;
}

#comment_like_stat {
    margin-right: 6.25rem;
}

#comment_save_stat {
    margin-left: auto;
    margin-right: 0;
}

#comment_share_stat {
    margin-right: 0;
    margin-left: 1.125rem;
}

.comment_feed_stat img {
    height: 1.5rem;
    margin-top: 0.6875rem;
    margin-right: 0.625rem;
}

.comment_feed_stat span {
    font-family: Din_next;
    font-size: 1.6875rem;
    color: #FFFFFF;
}

#comment_feed_comment_stat {
    margin-left: 0;
}

#comment_feed_save_stat {
    margin-right: 0;
}

#comment_feed_share_stat {
    margin-right: 0;
    margin-left: 1.125rem;
}

.comment_feed_liked {
    opacity: 1;
}

.comment_feed_liked:hover {
    opacity: 0.5;
}

.liked {
    opacity: 1;
}

.liked:hover {
    opacity: 0.5;
}

.reposted {
    opacity: 1;
}

.reposted:hover {
    opacity: 0.5;
}

/* COMMENT FEED END */