html, body {
	margin: 0;
	padding: 0;
    user-select: none;
	background-color: #0E091D;
}

body.noscroll {
	overflow: hidden;
	padding-right: 15px;
}

p, h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0E091D;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #241A43;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #4D1E96;
}

@font-face {
	font-family: Peace Sans;
	src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
	font-family: Intro;
	src: url(../../Font/SCP_Font.otf);
}

@font-face {
	font-family: Helvetica;
	src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
	font-family: Din_next;
	src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}