html, body {
	margin: 0;
	padding: 0;
    user-select: none;
	background-color: #0E091D;
}

body.noscroll {
	overflow: hidden;
	padding-right: 15px;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0E091D;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #241A43;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #4D1E96;
}

@font-face {
	font-family: Peace Sans;
	src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
	font-family: Intro;
	src: url(../../Font/SCP_Font.otf);
}

@font-face {
	font-family: Helvetica;
	src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
	font-family: Din_next;
	src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}


p, h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

.actor_photo {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 40px;
}

.actor_name {
    font-family: Helvetica;
    font-size: 96px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
}

.actor_flag {
    height: 70px;
}

.actor_bio {
    font-family: Helvetica;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 40px;
    width: 1200px;
}

.actor_statistics{
    font-family: Helvetica;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 40px;

}

/* SERIES CONTAINER */

.series_container {
    width: 96.9%;
    margin: 0 auto;
    background-color: #4D1E96;
}

.series_container h1 {
	font-family: Helvetica;
	font-size: 64px;
	color: #F4F4F2;
	margin-top: 20px;
}

.series_list {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap; 
    overflow-x: auto;
    overflow-y: hidden;
}

.series_list::-webkit-scrollbar {
	display: none; 
}

.series_item {
    flex: 0 0 auto;
    width: 224px;
    height: 336px;
	margin-left: 10px;
	margin-right: 10px;
    background-color: #241A43;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.series_item::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0.50) 90%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 20px;
}

.series_item:hover::before {
    opacity: 1;
}

.series-scroll-left {
    position: relative;
    left: -40px;
    top: 270px;
    transform: translateY(-50%);
    background-color: #4D1E96;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.series-scroll-right {
    position: relative;
    left: 100%;
    top: -235px;
    transform: translateY(-50%);
    background-color: #4D1E96;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    z-index: 10;
}

.series_image {
    position: absolute;
    height: 100%;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.series_pin, .series_eye {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    width: 35px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.series_eye {
    top: 70px;
}

.series_date {
    position: absolute;
    bottom: 55px;
    left: 20px;
    color: white;
    font-size: 20px;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}
.series_duration {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 20px;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.series_item:hover .series_duration {
    opacity: 1;
}

.series_item:hover .series_date {
    opacity: 1;
}

.series_item:hover .series_pin {
    opacity: 1;
}

.series_item:hover .series_eye {
    opacity: 1;
}

.series_item:hover .series_image {
    opacity: 1;
    transform: scale(1.2);
}

/* SERIES CONTAINER END */