html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #0E091D;
}

body.noscroll {
    overflow: hidden;
    padding-right: 0.9375rem;
}

/* width */
::-webkit-scrollbar {
    width: 0.9375rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0E091D;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background: #241A43;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4D1E96;
}

@font-face {
    font-family: Peace Sans;
    src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../../Font/SCP_Font.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
    font-family: Din_next;
    src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Slider container */
.best_movies_container {
    position: relative;
    width: 95.83%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 3.75rem;
    overflow: hidden;
    cursor: grab;
}

/* Slider track */
.slider {
    display: flex;
    width: 100%;
    user-select: none;
    pointer-events: auto;
    scroll-behavior: auto;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

/* Individual slides */
.slide {
    flex: 0 0 100%;
    height: 40vh;
    user-select: none;
    pointer-events: auto;
}

/* Slider indicators */
.slider-indicators {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.625rem;
}

.slider-indicators .dot {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-indicators .dot.active {
    background-color: #4D1E96; /* Активная точка */
}

#slide1 {
    background-image: url(../../Sliders/slide_1.png);
    background-size: 100%;
}

#slide2 {
    background-image: url(../../Sliders/slide_2.png);
    background-size: 100%;
}

#slide3 {
    background-image: url(../../Sliders/slide_3.png);
    background-size: 100%;
}

/* SERIES CONTAINER */
.series_container {
    position: relative;
    width: 95.83%;
    margin: 0 auto;
}

.series_container::before,
.series_container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7rem; 
    z-index: 1; 
}

.series_container::before {
    left: 0;
    background: linear-gradient(to right, rgba(14, 9, 29, 1), transparent);
}

.series_container::after {
    right: 0;
    background: linear-gradient(to left, rgba(14, 9, 29, 1), transparent);
}

.series_container h1 {
    position: relative;
    font-family: Helvetica;
    font-size: 4rem;
    color: #F4F4F2;
    margin-top: 1.25rem;
    z-index: 3;
}

.series_list {
    display: flex;
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1.25rem;
}

.series_list::-webkit-scrollbar {
    display: none;
}

.series_item {
    flex: 0 0 auto;
    width: 14rem;
    height: 21rem;
    background-color: #241A43;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.series_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0.50) 90%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 1.25rem;
}

.series_item:hover::before {
    opacity: 1;
}

.series-scroll-left {
    position: relative;
    left: -2.5rem;
    top: 13.5rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 2rem;
    border: solid 0.06rem #FFFFFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 10;
    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.series-scroll-right {
    position: relative;
    left: 98.6%;
    top: -12.3rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 2rem;
    border: solid 0.06rem #FFFFFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.series_image {
    position: absolute;
    height: 100%;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.series_pin, .series_eye {
    position: absolute;
    top: 0.9375rem;
    right: 0.9375rem;
    color: white;
    width: 2.1875rem;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.series_eye {
    top: 4.375rem;
}

.series_date {
    position: absolute;
    bottom: 3.4375rem;
    left: 1.25rem;
    color: white;
    font-size: 1.25rem;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.series_duration {
    position: absolute;
    bottom: 1.875rem;
    left: 1.25rem;
    color: white;
    font-size: 1.25rem;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.series_item:hover .series_duration {
    opacity: 1;
}

.series_item:hover .series_date {
    opacity: 1;
}

.series_item:hover .series_pin {
    opacity: 1;
}

.series_item:hover .series_eye {
    opacity: 1;
}

.series_item:hover .series_image {
    opacity: 1;
    transform: scale(1.2);
}

/* SERIES CONTAINER END */
/* MOVIE CONTAINER */
.movie_container {
    position: relative;
    width: 95.83%;
    margin: 0 auto;
}

.movie_container::before,
.movie_container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7rem; 
    z-index: 1; 
}

.movie_container::before {
    left: 0;
    background: linear-gradient(to right, rgba(14, 9, 29, 1), transparent);
}

.movie_container::after {
    right: 0;
    background: linear-gradient(to left, rgba(14, 9, 29, 1), transparent);
}

.movie_container h1 {
    position: relative;
    font-family: Helvetica;
    font-size: 4rem;
    color: #F4F4F2;
    margin-top: 1.25rem;
    z-index: 3;
}

.movie_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.625rem, 1fr));
    grid-auto-rows: 30.9375rem;
    gap: 1.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.movie_item {
    width: 20.625rem;
    height: 30.9375rem;
    background-color: #241A43;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.movie_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0.50) 90%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 1.25rem;
}

.movie_item:hover::before {
    opacity: 1;
}

.movie_item:nth-child(odd) {
    grid-row: 1;
}

.movie_item:nth-child(even) {
    grid-row: 2;
}

.movie_list::-webkit-scrollbar {
    display: none;
}

.movie-scroll-left {
    position: relative;
    left: -2.5rem;
    top: 34rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 2rem;
    border: solid 0.06rem #FFFFFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 10;
    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.movie-scroll-right {
    position: relative;
    left: 98.6%;
    top: -31.8rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 2rem;
    border: solid 0.06rem #FFFFFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.movie_image {
    position: absolute;
    height: 100%;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.movie_pin, .movie_eye {
    position: absolute;
    top: 0.9375rem;
    right: 0.9375rem;
    color: white;
    width: 2.5rem;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.movie_eye {
    top: 3.875rem;
}

.movie_date {
    position: absolute;
    bottom: 3.75rem;
    left: 1.25rem;
    color: white;
    font-size: 2.8125rem;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.movie_duration {
    position: absolute;
    bottom: 1.875rem;
    left: 1.25rem;
    color: white;
    font-size: 1.875rem;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.movie_item:hover .movie_duration {
    opacity: 1;
}

.movie_item:hover .movie_date {
    opacity: 1;
}

.movie_item:hover .movie_pin {
    opacity: 1;
}

.movie_item:hover .movie_eye {
    opacity: 1;
}

.movie_item:hover .movie_image {
    opacity: 1;
    transform: scale(1.2);
}

/* MOVIE CONTAINER END */
/* ACTORS CONTAINER */
.actors_container {
    width: 95.83%;
    margin: 0 auto;
    position: relative;
}

.actors_container::before,
.actors_container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7rem; 
    z-index: 1; 
}

.actors_container::before {
    left: 0;
    background: linear-gradient(to right, rgba(14, 9, 29, 1), transparent);
}

.actors_container::after {
    right: 0;
    background: linear-gradient(to left, rgba(14, 9, 29, 1), transparent);
}

.actors_container h1 {
    position: relative;
    font-family: Helvetica;
    font-size: 4rem;
    color: #F4F4F2;
    margin-top: 1.25rem;
    z-index: 3;
}

.actors_list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    transform: translatey(-2.1rem);
}

.actors_list::-webkit-scrollbar {
    display: none;
}

.actor_item {
    flex: 0 0 auto;
    width: 15.625rem;
    height: 15.625rem;
    background-color: #241A43;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.actor_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 1.25rem;
}

.actor_item:hover::before {
    opacity: 1;
}

.actor_image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.actor_name {
    position: absolute;
    left: 1.875rem;
    bottom: 5.3125rem;
    color: white;
    font-size: 1.5rem;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.actor_item:hover .actor_name {
    opacity: 1;
}

.actor_statistics {
    position: absolute;
    bottom: 3.125rem;
    left: 1.875rem;
    color: white;
    font-size: 1.25rem;
    font-family: Din_next;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.actor_item:hover .actor_statistics {
    opacity: 1;
}

.actors-scroll-left {
    position: relative;
    left: -2.5rem;
    top: 8.5rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 2rem;
    border: solid 0.06rem #FFFFFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 10;
    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.actors-scroll-right {
    position: relative;
    left: 98.6%;
    top: -9.9rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 2rem;
    border: solid 0.06rem #FFFFFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* ACTORS CONTAINER END */

.info_box_series {
    position: absolute;
    width: 28rem;
    min-height: 6.25rem;
    background-color: #453083;
    color: #FFFFFF;
    border-radius: 1.25rem;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translate(-74%, 3rem);
}

.info_box_title_series {
    width: 100%;
    height: 2rem;
    font-family: Helvetica;
    font-size: 2.68rem;
    text-align: center;
    margin-bottom: 0.3125rem;
}

.info_box_movie {
    position: absolute;
    width: 41.25rem;
    min-height: 6.25rem;
    background-color: #453083;
    color: #FFFFFF;
    border-radius: 1.25rem;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translate(-72.5%, 6rem)
}

.info_box_title_movie {
    width: 100%;
    height: 2rem;
    font-family: Helvetica;
    font-size: 2.68rem;
    text-align: center;
    margin-bottom: 0.3125rem;
}

.user_pins_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.user_pin {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pin_photo {
    width: 30%;
    height: auto;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pin_name {
    margin-top: 0.5rem;
    font-size: clamp(1rem, 2.5vw, 2rem); /* Минимум 1rem, максимум 2rem, адаптивно */
    color: #FFFFFF;
    font-family: Helvetica;
    text-align: center;
    overflow: hidden; /* Скрывает текст, если он выходит за пределы */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст обрезается */
    white-space: nowrap; /* Запрещает перенос текста */
}

.pin_attach_button {
    margin-left: auto;
    min-width: 18%;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    color: #0E091D;
    background-color: #FFFFFF;
    font-family: Helvetica;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pin_attach_button:hover {
    background-color: #8852CE;
    color: #FFFFFF;
}