html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #0E091D;
}

p, h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 0.9375rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0E091D;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background: #241A43;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4D1E96;
}

@font-face {
    font-family: Peace Sans;
    src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../../Font/SCP_Font.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
    font-family: Din_next;
    src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}

.slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.background_image {
    display: flex;
    width: 100%;
    max-height: 112vh;
    position: absolute;
    left: 0;
    z-index: 2;
    transform: translateY(-19vh);
}

#slider_background_image {
    width: 100%;
    transition: opacity 0.5s;
    opacity: 1;
}
#slider_background_image.fade {
    opacity: 0;
}

.slide_description {
    position: absolute;
    top: 40vh;
    left: 2vw;
    transition: opacity 0.2s, top 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}
.slide_description.fade {
    opacity: 0;
    top: 40vh;
}
.slide_description.visible {
    opacity: 1;
    top: 33vh;
}

.slide_description .watch_button {
    pointer-events: auto;
}

.slide_description h1 {
    width: 66vw;
    color: #F4F4F2;
    font-size: 6rem;
    font-family: Helvetica;
}

.slide_description h2 {
    width: 61.25rem;
    color: #F4F4F2;
    font-size: 0.9375rem;
    font-family: Helvetica;
}

.background_overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(14, 9, 29, 0.7);
    z-index: 1;
    pointer-events: none;
}

.slider-track {
    display: flex;
    gap: 1.25rem;
    height: 100%;
    user-select: none;
    transition: none;
}

.slide {
    width: calc((100vw - 7 * 1.25rem - 16 * 0.125rem) / 8);
    height: 91.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    flex-shrink: 0;
    transition: width 0.5s ease, height 0.5s ease;
}

.slide.active {
    width: calc((100vw - 7 * 1.25rem - 16 * 0.125rem) / 8 * 1.5);
}

.watch_button {
    display: block;
    width: 17.125rem;
    height: 3.525rem;
    margin-top: 2.125rem;
    margin-bottom: 2.125rem;
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    border: none;
    color: #000000;
    font-family: Helvetica;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.watch_button:hover {
    background-color: #4D1E96;
    color: #FFFFFF;
}

.slide_img {
    position: absolute;
    bottom: 0;
    width: calc((100vw - 7 * 1.25rem - 16 * 0.125rem) / 8);
    aspect-ratio: 2 / 3;
    transition: width 0.5s ease, height 0.5s ease;
    transform-origin: top center;
    z-index: 3;
}

.slide_img.active {
    width: calc((100vw - 7 * 1.25rem - 16 * 0.125rem) / 8 * 1.5);
    aspect-ratio: 2 / 3;
    z-index: 4;
}

.slide_img img {
    width: 100%;
    aspect-ratio: 2 / 3;
    transition: width 0.5s ease, height 0.5s ease, border 0.5s ease;
    transform-origin: top center;
    border-radius: 0.625rem;
    border: 0.125rem solid transparent;
}

.slide_img.active img {
    width: 100%;
    aspect-ratio: 2 / 3;
    border: 0.125rem solid #FFFFFF;
}

.mini_forum {
    width: 100%;
    height: 75rem;
    background-image: url(../../Image/tentacles.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mini_forum h1 {
    margin-top: 9.375rem;
    margin-left: 2.5rem;
    color: #F4F4F2;
    font-family: Helvetica;
    font-size: 6rem;
}

.mini_forum h2 {
    margin-left: 2.5rem;
    color: #F4F4F2;
    font-family: Helvetica;
    font-size: 2.5rem;
}

.second_slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.second_slider-track {
    display: flex;
    height: 100%;
    user-select: none;
    transition: none;
}

.second_slide {
    width: 43.75rem;
    height: 31.25rem;
    margin-top: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    flex-shrink: 0;
}

.second_slide_content {
    width: 33.75rem;
    height: 13.125rem;
    transition: width 0.5s ease, height 0.5s ease;
    transform-origin: top center;
    border-radius: 1.25rem;
    border: white solid 0.125rem;
    padding: 1.875rem;
    background-color: #0E091D;
}

.second_slide_sender {
    display: inline-flex;
    position: absolute;
    height: 2.5rem;
    min-width: 10.625rem;
    background-color: #F4F4F2;
    border-radius: 1.25rem;
    text-align: center;
    justify-content: center;
}

.second_slide_sender img {
    display: inline-block;
    height: 1.625rem;
    margin-top: 0.4375rem;
    margin-left: 0.4375rem;
}

.second_slide_sender span {
    display: inline-block;
    color: #0E091D;
    font-family: Helvetica;
    font-size: 1.625rem;
    margin-left: 0.5rem;
    margin-right: 1.25rem;
    margin-top: 0.25rem;
}

.second_slide_retweet {
    display: inline-flex;
    margin-left: 30.3125rem;
    height: 2.5rem;
    width: 3.4375rem;
    background-color: #F4F4F2;
    border-radius: 1.25rem;
    text-align: center;
    justify-content: center;
}

.second_slide_retweet img {
    height: 1.5625rem;
    margin: auto;
}

.second_slide_content_messege {
    margin-top: 2.5rem;
    font-family: Helvetica;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.second_slide_content_time {
    margin-top: 0.875rem;
    margin-left: 30rem;
    font-family: Helvetica;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.second_slide_join {
    height: 3.4375rem;
    width: 27.5rem;
    background-color: #F4F4F2;
    border-radius: 1.25rem;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 0.9375rem;
}

.second_slide_join span {
    font-family: Helvetica;
    font-size: 2.25rem;
    color: #0E091D;
}

.pox3 {
    height: 62.5rem;
    width: 100%;
}