html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #0E091D;
}

body.noscroll {
    overflow: hidden;
    padding-right: 0.9375rem;
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 0.9375rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0E091D;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background: #241A43;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4D1E96;
}

@font-face {
    font-family: Peace Sans;
    src: url(../../Font/ofont.ru_Peace.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../../Font/SCP_Font.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(../../Font/helveticaneueltstd_blk.otf);
}

@font-face {
    font-family: Din_next;
    src: url(../../Font/DIN_Next_LT_Arabic_Light.ttf);
}

.space {
    width: 100%;
    height: 10rem;
}

.title, .library_text {
    width: 100%;
}

.title h1 {
    margin-top: 3.75rem;
    margin-left: 2.5rem;
    font-family: Helvetica;
    font-size: 7.3vh;
    color: #F4F4F2;
}

.library_text h2 {
    margin-top: 3rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    font-family: Helvetica;
    font-size: 3.125vh;
    color: #F4F4F2;
}

.best-comic-image {
    width: calc(100% - 5rem);
    margin-left: 2.5rem;
}

.comic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-sizing: border-box;
}

.comic-item {
    flex: 0 0 calc((100% - 4 * 1.25rem - 10 * 0.125rem) / 5);
    aspect-ratio: 350 / 540;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    border: #fff 0.125rem solid;
    overflow: hidden;
    cursor: pointer;
}

.comic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}